<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Darshan, it uses data from weatherstack api. It provide weather data by entering
            your city name.</p>
        <img class="portrait" src="img/1.jpg">
    </div>

    {{>footer}}
</body>

</html>